.dropdown {
    
    max-width: 320px;
    user-select: none;
    border: 1px solid $dark-shade-25;
    border-radius: 2px;
    
    &:focus {
        border: 1px solid $dark-shade-50;
        outline: none;
    }

    &--range{
        border: 0;
        display: flex;
        justify-content: space-between;
    }

    &--filtered {
        border: 0;
        width: auto;
        
    }

}

.dropdown__heading {
    font-family: $monsterrat;
    font-size: 0.87rem;
    padding: 13.5px 15px;
    background: url(./../../icons/expand.svg) 95% 54% no-repeat;
    cursor: pointer;
    box-shadow: 0px 10px 20px $dark-shade-5;
    &--range {
        background-position-x: 89%;
        width: 150px;
        color: $dark-shade-75;
        border: 1px solid $dark-shade-25;
        border-radius: 4px;
        &:focus {
            border: 1px solid $dark-shade-50;
            outline: none;
        }
    }
    &--filtered {
        width: 100%;
        max-width: 267px;
        color: $dark-shade-75;
        border-radius: 4px;
        border: 1px solid $dark-shade-25;
        background-position-x: 93%;
        &:focus {
            border: 1px solid $dark-shade-50;
            outline: none;
        }
    }
}

.dropdown__wrap {
    display: none;
    padding: 0px 6px 11px 15px;
    border-top: 1px solid $dark-shade-50;
}

.dropdown__wrap--active {
    display: block;
}

.dropdown__list {
    list-style: none;
    padding: 0;
    font-size: 0.75rem;
    text-transform: uppercase;
    
}

.dropdown__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.5px 0;

}

.dropdown__count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 92px;
}

.dropdown__minus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid $dark-shade-50;
    border-radius: 50%;
    cursor: pointer;
    &::after {
        color: $dark-shade-50;
        content: "-";
    }
}

.dropdown__minus--deactive {
    border-color: $dark-shade-25;
    cursor: auto;
    &::after {
        color: $dark-shade-25;
    }
}

.dropdown__plus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid $dark-shade-50;
    border-radius: 50%;
    cursor: pointer;
    &::after {
        color: $dark-shade-50;
        content: "+";
    }
}


.dropdown__actions {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    text-transform: uppercase;
    font-size: 0.75rem;
}

.dropdown__clear--off {
    visibility: hidden;
}

.dropdown__clear--on {
    visibility: visible;
}
