.review {
    // display: flex;
    max-width: 711px;
}

.review__img {
    display: flex;
    
}

.review__wrap {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 12px;
}

.review__pic {
    width: 48px;
    
}

.review__text {
    display: flex;
}

.review__like {
    display: flex;
    justify-content: center;
    min-width: 48px;
    margin-right: 10px;
}