mixin reviews(options)
    .reviews
        .reviews__img
            img(src="../../static/img/" + options.img, alt= options.heading class="reviews__pic")
            .reviews__header
                a(href="#" class="heading-mb75")= options.heading
                p.paragraph= options.when
            
        .reviews__text
            .reviews__like
                +like({"number": 12, "state": "liked"})
            .reviews__body
                p.paragraph= options.text
