mixin selection()
    
    section.selection
        h1.heading-q Найдём номера под ваши пожелания
        .selection__choose-days
            .selection__arrival
                h3.heading-mb100 прибытие
                input(type="text"  placeholder="ДД.ММ.ГГГГ" class="selection__choice selection__choice--arrival")
            .selection__departure
                h3.heading-mb100 выезд
                input(type="text" placeholder="ДД.ММ.ГГГГ" class="selection__choice selection__choice--departure")
        .selection__guests
            h3.heading-mb100 гости
            select(name="select-guests" class="selection__choice selection__guest" value="")
                option Сколько гостей
                option 1 гость
                option 2 гостя
                option 3 гостя
                option 4 гостя
                option 5 гостей
        .selection__wrap-btn
            button.selection__btn подобрать номер