mixin selection()
    
    section.selection
        h1.h-text--q Найдём номера под ваши пожелания
        .selection__choose-days
            .selection__arrival
                h3.h-text--m-dark прибытие
                input(type="text" value="ДД.ММ.ГГГГ" class="selection__input")
            .selection__departure
                h3.h-text--m-dark выезд
                input(type="text" value="ДД.ММ.ГГГГ" class="selection__input")