//size

h1 {
    font-size: 1.5rem;
    line-height: 1.87rem;
}

h2 {
    font-size: 1.18rem;
    line-height: 1.5rem;
}

h3 {
    font-size: 0.75rem;
    text-transform: uppercase;
    margin-bottom: 5px;
    line-height: 0.93rem;
}

p {
    margin: 0;
    font-size: 0.87rem;
    line-height: 1.5rem;
}

a {
    text-decoration: none;
}
//align

.text-r {
    text-align: right;
}

.text-l {
    text-align: left;
}

.text-c {
    text-align: center;
}

//heading

.heading-q {
    font-family: 'Quicksand', 'Arial', sans-serif;
    font-weight: 700;
    color: $dark-shade-100;
}

.heading-mb100 {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: 700;
    color: $dark-shade-100;
}

.heading-mb75 {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: 700;
    color: $dark-shade-75;
}

.heading-mn50 {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: 400;
    color: $dark-shade-50;
}

.heading-mn25 {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: 400;
    color: $dark-shade-25;
}

//paragraph

.paragraph {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: 400;
    color: $dark-shade-75;
}

.paragraph-light {
    color: $dark-shade-25;
}

.paragraph-q {
    font-family: 'Quicksand', 'Arial', sans-serif;
    font-weight: 400;
}


//links

.pink-link {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: $purple;
    font-size: 0.75rem;
    &:hover {
        color: $dark-shade-50;
    }
    &:active {
        color: $dark-shade-75;
    }
}
