//size

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.18rem;
}

h3 {
    font-size: 0.75rem;
    text-transform: uppercase;
}

p {
    font-size: 0.87rem;
}


//align

.text-r {
    text-align: right;
}

.text-l {
    text-align: left;
}

.text-c {
    text-align: center;
}

//heading

.heading-q {
    font-family: 'Quicksand', 'Arial', sans-serif;
    font-weight: 700;
    color: $dark-shade-100;
    line-height: 1.3;
}

.heading-mdark {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: 700;
    color: $dark-shade-100;
    line-height: 1.3;
}

.heading-mlight {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: 400;
    color: $dark-shade-25;
    line-height: 1.3;
}

//paragraph

.paragraph {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: 400;
    color: $dark-shade-75;
    line-height: 1.5;
}

.paragraph-light {
    color: $dark-shade-25;
}

.paragraph-q {
    font-family: 'Quicksand', 'Arial', sans-serif;
    font-weight: 400;
}


//links

.pink-link {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: $purple;
    font-size: 0.75rem;
    &:hover {
        color: $dark-shade-50;
    }
    &:active {
        color: $dark-shade-75;
    }
}
