@import 'normalize';
@import 'vars';
@import 'fonts';
@import 'grid';
@import 'typography';
@import 'colors';
@import 'ui-kit';
@import '../../components/components';



body {
    min-height: 100vh;
    line-height: 1.5;
    background-color: $main-bgcolor;
    font-size: 16px;
}

*,
*::before,
*::after { 
    box-sizing: border-box; 
}

@include make-wrap();
@include get-adaptive($grid-breakpoints, $wrap-max-widths);

.content {
    padding: 65px 7.3% 119px;
}

.mb100-indent {
    margin-bottom: 100px;
}

.mb50-indent {
    margin-bottom: 50px;
}

.mb40-indent {
    margin-bottom: 40px;
}

.mb20-indent {
    margin-bottom: 20px;
}

.mr-95 {
    margin-right: 95px;
}

.mr-40 {
    margin-right: 40px;
}

.mr-10 {
    margin-right: 10px;
}

.mw-350 {
    max-width: 350px;
    min-width: 350px;
}


.ml13-indent {
    margin-left: 13px;
}

.pl15only-indent {
    padding: 0 0 0 15px;
}

.no-padding {
    padding: 0;
}



.v-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.box {
    margin-right: 10px;
    width: 70px;
    height: 70px;
    border-radius: 6px;
}

.columns-wrapper {
    columns: 30rem;
    column-gap: 20px;
}

.column {
    break-inside: avoid;
    margin: 0 0 2rem 0;
    padding: 1.3rem 1rem 0 1rem;
}

@media only screen and (max-width: $tablet) {
    .md-mb-indent {
        margin-bottom: 67px;
    }
}