@import 'normalize';
@import 'vars';
@import 'fonts';
@import 'grid';
@import 'typography';
@import 'colors';
@import 'ui-kit';
@import '../../components/components';

body {
    min-height: 100vh;
    line-height: 1.5;
    background-color: $main-bgcolor;
    font-size: 16px;
}

  *,
  *::before,
  *::after { box-sizing: border-box; }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  ul[class],
  ol[class],
  li,
  figure,
  figcaption,
  blockquote,
  dl,
  dd { 
    margin: 0; 
}

input,
button,
textarea,
select { font: inherit; }

@include make-wrap();
@include make-row();
@include get-adaptive($grid-breakpoints, $wrap-max-widths);

.content {
    padding: 65px 7.3% 0;
}

.mb50-indent {
    margin-bottom: 50px;
}

.mb40-indent {
    margin-bottom: 40px;
}

.mb20-indent {
    margin-bottom: 20px;
}

.maxw-350 {
    max-width: 350px;
}



.mb5-indent {
    margin-bottom: 5px;
}

.ml13-indent {
    margin-left: 13px;
}

.v-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.box {
    margin-right: 10px;
    width: 70px;
    height: 70px;
    border-radius: 6px;
}

.columns-wrapper {
    columns: 20rem;
    column-gap: 20px;
}

.column {
    break-inside: avoid;
    margin: 0 0 2rem 0;
    padding: 1.3rem 1rem 0 1rem;
}

@media only screen and (max-width: $tablet) {
    .md-mb-indent {
        margin-bottom: 67px;
    }
}