mixin checkbox-list(options)
    -let state = "hidden"
    if options.state == "shown"
        -state = "shown"
    .checkbox-list
        div(class="checkbox-list__heading checkbox-list__heading--hidden checkbox-list__heading--" + state)
            h3.heading-mb100 expandable checkbox list
        ul(class="checkbox-list__list checkbox-list__list--hidden checkbox-list__list--" + state)           
            each item, i in options.list
                -let isChecked = false;
                each num in options.checked
                    if i === num
                        -isChecked = true
                li.checkbox-list__item
                    label.checkbox-list__label
                        input(type="checkbox" class="checkbox-list__input" checked= isChecked)
                        span.checbox-list__text= item
                        