mixin card(options)
    section.card
        if options.mode == "selection"
            h1.heading-q= options.head
            +dropdown({"mode": "range", "addClass": "reservation", "rangeHead1": "ПРИБЫТИЕ",  "rangeHead2": "ВЫЕЗД"})
            .card__guests
                +dropdown({"mode": "guests", "head": "Гости", "addClass": "guests", "id": "cards__example"})
            .card__wrap-btn
                +buttons({"mode": "big", "value": "подобрать номер"})
        if options.mode == "registration"
            h1.heading-q= options.head
            +text-field({"mode": "text", "placeholder": "Имя"})
            +text-field({"mode": "text", "placeholder": "Фамилия"})
            +switches({"mode": "radio", "buttons": ["Мужчина", "Женщина"], "name": "sex"})
            section.card__block
                +text-field({"mode": "mask", "mask": "ДД.ММ.ГГГГ", "addClass": "example__dob", "head": "дата рождения"})
            section.card__block
                +text-field({"mode": "email", "addClass": "example__email", "head": "данные для входа в сервис"})
                +text-field({"mode": "pass"})
                +switches({"mode": "toggles", "toggles": ["Получать спецпредложения"], "checked": []})
                .card__wrap-btn
                    +buttons({"mode": "big", "value": "перейти к оплате"})
                .card__wrap-btn
                    p.paragraph.black Уже есть аккаунт на Toxin
                    +buttons({"mode": "contoured", "value": "войти"})

