.card {
    width: 380px;
    padding: 20px 30px 30px;
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}

.card__block {
    margin-top: 20px;
}

.card__item {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.card__service {
    display: flex;
    max-width: 236px;
}

.card__info {
    cursor: pointer;
    margin-left: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: $monsterrat;
    font-weight: 700;
    font-size: 0.75rem;
    color: $dark-shade-25;
    min-width: 20px;
    max-width: 20px;
    height: 20px;
    border: 1px solid $dark-shade-25;
    border-radius: 50%;   
}

.card__doted {
    border-bottom: 1px dashed rgba(31, 32, 65, 0.25);
    flex-basis: 58%;
    margin-bottom: 4px;
}

.card__choose-days {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.card__choice {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 0.87rem;
    color: $dark-shade-75;
    line-height: 1.5;
    max-width: 150px;
    appearance: none;
    padding: 9px 15px;
    margin-top: 5px;
    background-color: #FFFFFF;
    border: 1px solid $dark-shade-25;
    border-radius: 4px;
    background: url(../../icons/expand.svg) 90% 55% no-repeat;
    cursor: pointer;
    &:focus {
        border: 1px solid $dark-shade-50;
        outline: none;
    }
}


.card__guest {
    width: 100%;
    max-width: 100%;
    background: url(../../icons/expand.svg) 96% 55% no-repeat;
}

.card__fsb {
    display: flex;
    justify-content: space-between;
}

.card__wrap-btn {
    margin-top: 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__btn {
    width: 100%;
    border-radius: 22px;
    border: 0;
    background: url(../../icons/arrow-white.svg) 90% no-repeat, linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    color: white;
    font-family: "Montserrat";
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.75rem;
    padding: 15px;
    cursor: pointer;
}

