extends ../layouts/main

block varibles
    -var pageTitle = 'Cards'
    -var cssPath = '../../static/scss/main.scss'

block content
    +header()
    .wrap.content
        .row
            .col
                +card({"mode": "selection", "head": "Найдём номера под ваши пожелания"})

            .col
                p Test ipsum dolor sit, amet consectetur adipisicing elit. Debitis necessitatibus, nostrum voluptas ab consequatur quo id! Quas alias fugit voluptatum corporis dolore aliquam laudantium, reprehenderit, quae, architecto porro in! Veniam.

            .col
                +calendar()

                
                
block scripts
    script(src="../../static/js/main.js")
    script(src="../../static/js/cards.js")