extends ../layouts/main

block varibles
    -var pageTitle = 'Cards'
    -var cssPath = '../../static/scss/main.scss'

block content
    +header()
    .wrap.content
        .row
            .col
                .row.mb40-indent
                    +card({"mode": "selection", "head": "Найдём номера под ваши пожелания", "id": "cards__example"})
                .row
                    +card({"mode": "registration", "head": "Регистрация аккаунта", "emailAddClass": "example__email", "maskAddClass": "example__dob"})
            .col
                .row.mb40-indent
                    +card({"mode": "total", "totalGuestsId": "cards__example22", "totalRangeClass": "cards-example","valueFrom": "25.03.2020", "valueTo": "29.03.2020", "valueGuests": "3 гостя"})
                .row
                    +card({"mode": "login", "head": "Войти", "emailAddClass": "example__email2"})

            .col
                .row.mb40-indent
                    +calendar()
                .row.mb40-indent
                    +number({"photos": ["photo-number1.jpg", "photo-number2.jpg", "photo-number3.jpg"], "id": "number__example", "number": " 888", "price": 9900, "rate": 5, "reviews": 145})
                .row.mb40-indent
                    +number({"photos": ["photo-number1.jpg", "photo-number2.jpg", "photo-number3.jpg"], "id": "number__example2", "number": " 840", "price": 9900, "rate": 4, "reviews": 65})

                
                
block scripts
    script(src="../../static/js/main.js")
    script(src="../../static/js/cards.js")