extends ../layouts/white-bg

block varibles
    -var pageTitle = 'Form elements'
    -var cssPath = '../../static/scss/main.scss'

block content
    +header()
    .wrap.content
        .row
            .col.maxw-350
                .row.mb5-indent
                    .col
                        h3.heading-mdark Text Field
                    .col.text-r
                        h3.heading-mlight Default
                .row.mb40-indent
                    .col
                        
                        input(type="text" placeholder="Email" class="text-field")
                .row.mb5-indent
                    .col
                        h3.heading-mdark Text Field
                    .col.text-r
                        h3.heading-mlight Hover / Focus
                .row.mb40-indent
                    .col
                        input(type="text" placeholder="Email" class="text-field")
                .row.mb5-indent
                    .col
                        h3.heading-mdark Dropdown
                    .col.text-r
                        h3.heading-mlight Default
                .row.mb40-indent
                    .col
                        +dropdown()
            .col.maxw-350
            .col.maxw-350


block scripts
    script(src="../../static/js/main.js")