extends ../layouts/white-bg

block varibles
    -var pageTitle = 'Form elements'
    -var cssPath = '../../static/scss/main.scss'

block content
    +header()
    .wrap.content
        .row
            .col.mw-350.mr-125
                .row.mb5-indent
                    .col
                        h3.heading-mb100 Text Field
                    .col.text-r
                        h3.heading-mn50 Default
                .row.mb40-indent
                    .col
                        +text-field("email")
                .row.mb5-indent
                    .col
                        h3.heading-mb100 Text Field
                    .col.text-r
                        h3.heading-mn50 Hover / Focus
                .row.mb40-indent
                    .col
                        +text-field("text", "text-field__input--focus")
                .row.mb5-indent
                    .col
                        h3.heading-mb100 Dropdown
                    .col.text-r
                        h3.heading-mn50 Default
                .row.mb40-indent
                    .col
                        +dropdown({"mode": "guests", "addClass": "guests"})
                        
                .row.mb5-indent
                    .col
                        h3.heading-mb100 masked text field
                    .col.text-r
                        h3.heading-mn50 Default
                .row.mb40-indent
                    .col
                        +text-field("mask", "", "ДД.ММ.ГГГГ")
                .row.mb40-indent
                    .col
                        +dropdown({"mode": "range", "addClass": "reservation", "rangeHead1": "Dropdown",  "rangeHead2": "Dropdown"})
                    
                .row.mb5-indent
                    .col
                        h3.heading-mb100 filter date dropdown
                .row.mb40-indent
                    .col
                        +dropdown({"mode": "filter", "addClass": "super-filter"})
                .row.mb5-indent
                    .col
                        h3.heading-mb100 subscription text field
                .row.mb100-indent
                    .col
                        +text-field("subscription")
                .row.mb5-indent
                    .col
                        h3.heading-mb100 dropdown
                    .col.text-r
                        h3.heading-mn50 Default
                .row.mb20-indent
                    .col
                        +dropdown({"mode": "options", "addClass": "options"})
                .row.mb5-indent
                    .col
                        h3.heading-mb100 dropdown
                    .col.text-r
                        h3.heading-mn50 Default
                .row.mb20-indent
                    .col
                        +dropdown({"mode": "options", "addClass": "options", "state": "active"})
                .row.mb20-indent
                    .col
                        +switches({"mode": "list", "heading": "expandable checkbox list", "list": ["Завтрак", "Письменный стол", "Стул для кормления", "Кроватка", "Телевизор", "Шампунь", "Телевизор", "Шампунь"], "checked": [1, 2, 3]})
                .row.mb40-indent
                    .col
                        +switches({"mode": "list", "heading": "expandable checkbox list", "list": ["Завтрак", "Письменный стол", "Стул для кормления", "Кроватка", "Телевизор", "Шампунь", "Телевизор", "Шампунь"], "checked": [1, 2, 3], "state": "shown"})
                .row.mb20-indent
                    .col
                        +features({"img": "smile", "heading": "Комфорт", "text": "Шумопоглощающие стены"})
                .row.mb20-indent
                    .col
                        +features({"img": "build", "heading": "Удобство", "text": "Окно в каждой из спален"})
                        
            .col.mw-350.mr-125
                .row.mb20-indent
                    .col
                        +switches({"mode": "buttons", "heading": "Checkbox Buttons", "buttons": ["Можно курить", "Можно с питомцами", "Можно пригласить гостей (до 10 человек)"], "checked": [1, 2]})
                .row.mb20-indent
                    .col
                        +switches({"mode": "radio", "heading": "Radio buttons", "buttons": ["Мужчина", "Женщина"], "name": "sex"})
                .row.mb20-indent
                    .col
                        +switches({"mode": "toggles", "heading": "Toggle", "toggles": ["Получать спецпредложения", "Получать спецпредложения"], "checked": [0]})
                .row.mb20-indent
                    .col
                        +switches({"mode": "rich", "heading": "rich Checkbox Buttons", "buttonsHead": ["Широкий коридор", "Помощник для инвалидов"], "buttonsText": ["Ширина коридоров в номере не менее 91 см.", "На 1 этаже вас встретит специалист  и проводит до номера."], "checked": [1]})


            .col.mw-350.ml-125


block scripts
    script(src="../../static/js/main.js")
    script(src="../../static/js/formElements.js")