extends ../layouts/white-bg

block varibles
    -var pageTitle = 'Form elements'
    -var cssPath = '../../static/scss/main.scss'

block content
    +header()
    .wrap.content
        .row
            .col.mw-350.mr-95
                .row.mb5-indent
                    .col
                        h3.heading-mb100 Text Field
                    .col.text-r
                        h3.heading-mn50 Default
                .row.mb40-indent
                    .col
                        +text-field("email")
                .row.mb5-indent
                    .col
                        h3.heading-mb100 Text Field
                    .col.text-r
                        h3.heading-mn50 Hover / Focus
                .row.mb40-indent
                    .col
                        +text-field("text", "text-field__input--focus")
                .row.mb40-indent
                    .col
                        +dropdown({"mode": "guests", "head": "DROPDOWN", "head2": "DEFAULT", "addClass": "guests", "id": "guests-example"})
                        
                .row.mb5-indent
                    .col
                        h3.heading-mb100 masked text field
                    .col.text-r
                        h3.heading-mn50 Default
                .row.mb40-indent
                    .col
                        +text-field("mask", "", "ДД.ММ.ГГГГ")
                .row.mb40-indent
                    .col
                        +dropdown({"mode": "range", "addClass": "reservation", "rangeHead1": "Dropdown",  "rangeHead2": "Dropdown"})
                    
                .row.mb5-indent
                    .col
                        h3.heading-mb100 filter date dropdown
                .row.mb40-indent
                    .col
                        +dropdown({"mode": "filter", "addClass": "super-filter"})
                .row.mb5-indent
                    .col
                        h3.heading-mb100 subscription text field
                .row.mb100-indent
                    .col
                        +text-field("subscription")
                
                        
            .col.mw-350.mr-40
                .row.mb20-indent
                    .col
                        +switches({"mode": "buttons", "heading": "Checkbox Buttons", "buttons": ["Можно курить", "Можно с питомцами", "Можно пригласить гостей (до 10 человек)"], "checked": [1, 2]})
                .row.mb20-indent
                    .col
                        +switches({"mode": "radio", "heading": "Radio buttons", "buttons": ["Мужчина", "Женщина"], "name": "sex"})
                .row.mb20-indent
                    .col
                        +switches({"mode": "toggles", "heading": "Toggle", "toggles": ["Получать спецпредложения", "Получать спецпредложения"], "checked": [0]})
                .row.mb20-indent
                    .col
                        h3.mb5-indent.heading-mb100 like button
                        +like({"number": 2, "addClass": "mr-10"})
                        +like({"number": 12, "state": "liked"})
                .row.mb100-indent
                    .col
                        h3.mb5-indent.heading-mb100 rate button
                        +rate(4)
                        +rate(5)
                
            .col.mw-350
                .row.mb20-indent
                    .col
                        +range-slider({"head": "Range Slider", "id": "fe-rslider"})
                .row.mb20-indent
                    .col
                        h3.heading-mb100.mb20-indent Buttons
                        +buttons({"mode": "purpled", "value": "CLICK ME"})
                        +buttons({"mode": "purpled", "state": "deactivated", "value": "CLICK ME"})
                .row.mb20-indent
                    .col
                        +buttons({"mode": "contoured", "value": "CLICK ME"})
                        +buttons({"mode": "contoured", "state": "deactivated", "value": "CLICK ME"})
                .row.mb20-indent
                    .col
                        +buttons({"mode": "empty", "value": "click me"})
                        +buttons({"mode": "empty", "value": "click me"})
                .row.mb20-indent
                    .col
                        +buttons({"mode": "big", "value": "перейти к оплате"})
                .row.mb20-indent
                    .col
                        h3.heading-mb100 pagination
                        //- +pagination()
                        #example-pagination
                        #data-container

        .row
            .col.mw-350.mr-95
                .row.mb20-indent
                    .col
                        +dropdown({"mode": "options", "head": "DROPDOWN", "head2": "DEFAULT", "addClass": "options", "id": "options-example"})
                .row.mb20-indent
                    .col
                        +dropdown({"mode": "options", "head": "DROPDOWN", "head2": "DEFAULT", "addClass": "options", "state": "active", "id": "options-example2"})
                .row.mb20-indent
                    .col
                        +switches({"mode": "list", "heading": "expandable checkbox list", "list": ["Завтрак", "Письменный стол", "Стул для кормления", "Кроватка", "Телевизор", "Шампунь", "Телевизор", "Шампунь"], "checked": [1, 2, 3]})
                .row.mb40-indent
                    .col
                        +switches({"mode": "list", "heading": "expandable checkbox list", "list": ["Завтрак", "Письменный стол", "Стул для кормления", "Кроватка", "Телевизор", "Шампунь", "Телевизор", "Шампунь"], "checked": [1, 2, 3], "state": "shown"})
                
            .col.mw-350.mr-40
                .row.mb100-indent
                    .col
                        +dropdown({"mode": "guests", "head": "DROPDOWN", "head2": "DEFAULT", "addClass": "guests", "state": "active", "id": "guests-example2"})
                .row.mb20-indent
                    .col
                        +switches({"mode": "rich", "heading": "rich Checkbox Buttons", "buttonsHead": ["Широкий коридор", "Помощник для инвалидов"], "buttonsText": ["Ширина коридоров в номере не менее 91 см.", "На 1 этаже вас встретит специалист  и проводит до номера."], "checked": [1]})
            .col.mw-350
                .row.mb100-indent
                    .col
                        +dropdown({"mode": "guests", "head": "DROPDOWN", "head2": "DEFAULT", "addClass": "guests", "state": "active", "id": "guests-example3"})
                .row
                    .col
                        +bullet({"heading": "Bullet list", "items": ["Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00"]})
        .row
            .col.mw-350.mr-95
                .row.mb20-indent
                    .col
                        +features({"img": "smile", "heading": "Комфорт", "text": "Шумопоглощающие стены"})
                .row.mb20-indent
                    .col
                        +features({"img": "build", "heading": "Удобство", "text": "Окно в каждой из спален"})
            .col
                .row
                    .col
                        +reviews({"img": "man.png", "heading": "Мурад Сарафанов", "when": "5 дней назад", "text": "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."})
            


            


block scripts
    script(src="../../static/js/main.js")
    script(src="../../static/js/formElements.js")