extends ../layouts/white-bg

block varibles
    -var pageTitle = 'Form elements'
    -var cssPath = '../../static/scss/main.scss'

block content
    +header()
    .wrap.content
        .row
            .col.maxw-350
                .row.mb5-indent
                    .col
                        h3.heading-mb100 Text Field
                    .col.text-r
                        h3.heading-mn50 Default
                .row.mb40-indent
                    .col
                        +text-field("email")
                .row.mb5-indent
                    .col
                        h3.heading-mb100 Text Field
                    .col.text-r
                        h3.heading-mn50 Hover / Focus
                .row.mb40-indent
                    .col
                        +text-field("text", "text-field__input--focus")
                .row.mb5-indent
                    .col
                        h3.heading-mb100 Dropdown
                    .col.text-r
                        h3.heading-mn50 Default
                .row.mb40-indent
                    .col
                        +dropdown({"mode": "guests", "addClass": "guests"})
                        
                .row.mb5-indent
                    .col
                        h3.heading-mb100 masked text field
                    .col.text-r
                        h3.heading-mn50 Default
                .row.mb40-indent
                    .col
                        +text-field("mask", "", "ДД.ММ.ГГГГ")
                .row.mb40-indent
                    .col
                        +dropdown({"mode": "range", "addClass": "reservation", "rangeHead1": "Dropdown",  "rangeHead2": "Dropdown"})
                    
                .row.mb5-indent
                    .col
                        h3.heading-mb100 filter date dropdown
                .row.mb40-indent
                    .col
                        +dropdown({"mode": "filter", "addClass": "super-filter"})
                .row.mb5-indent
                    .col
                        h3.heading-mb100 subscription text field
                .row.mb100-indent
                    .col
                        +text-field("subscription")
                .row.mb5-indent
                    .col
                        h3.heading-mb100 dropdown
                    .col.text-r
                        h3.heading-mn50 Default
                .row.mb20-indent
                    .col
                        +dropdown({"mode": "options", "addClass": "options"})
                .row.mb5-indent
                    .col
                        h3.heading-mb100 dropdown
                    .col.text-r
                        h3.heading-mn50 Default
                .row.mb20-indent
                    .col
                        +dropdown({"mode": "options", "addClass": "options", "state": "active"})
                .row.mb20-indent
                    .col
                        +checkbox-list({"list": ["Завтрак", "Письменный стол", "Стул для кормления", "Кроватка", "Телевизор", "Шампунь", "Телевизор", "Шампунь"], "checked": [1, 2, 3]})
                        
            .col.maxw-350
            .col.maxw-350


block scripts
    script(src="../../static/js/main.js")
    script(src="../../static/js/formElements.js")