extends ../layouts/main

block varibles
    -var pageTitle = 'Headers & Footers'
    -var cssPath = '../../static/scss/main.scss'
    -var headerItems = {"Home": "/", "About Us": "#", "Services": {"Submenu1": "#", "Super-Submenu2": "#", "Submenu3": "#",}, "Careers": "#", "News": "#"}
    -var firstFooterItems = {"About Us": "#", "News": "#", "Support": "#", "Products": "#", }
    -var secondFooterItems = {"Who we are": "#", "Our team": "#", "Careers": "#", "Investors": "#", }
    -var thirdFooterItems = {"Documentation": "#", "Community": "#", "Get in Touch": "#"}
    -var aboutFooter = "Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis."

block content
    .mb40-indent
        +header({"mode": "ui"})
    .wrap
        .row.mb40-indent
            .col
                +header({"mode": "site", "items": headerItems, "activeItem": "Home", "registered": false})
        .row.mb40-indent
            .col
                +header({"mode": "site", "items": headerItems, "activeItem": "Home", "registered": "Cosmin Negoita"})
        .row.mb40-indent
            .col
                +footer({"mode": "complex", "about": aboutFooter, "firstHead": "Navigation",  "firstItems": firstFooterItems, "secondHead": "ABOUT US", "secondItems": secondFooterItems, "thirdHead":  "Support", "thirdItems": thirdFooterItems})
        .row.mb40-indent
            .col
                +footer({"mode": "simple", "text": "Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis."})

block scripts
    script(src="../../static/js/main.js")
    script(src="../../static/js/headersAndFooters.js")