extends ../layouts/main

block varibles
    -var pageTitle = 'Index'
    -var cssPath = '../../static/scss/main.scss'

block content
    +header({"mode": "ui"})
    .wrap
        .row
            .col
                h1.heading-q FSD second task
                h2.heading-q UI Kit
                ul
                    li
                        h3.heading-mb100
                            a(href="./colors-type.pug") Colors and type
                    li
                        h3.heading-mb100
                            a(href="./form-elements.pug") Form elements
                    li
                        h3.heading-mb100
                            a(href="./cards.pug") Cards
                    li
                        h3.heading-mb100
                            a(href="./headers-and-footers.pug") Headers &amp; Footers
    
    

block scripts
    script(src="../../static/js/main.js")