extends ../layouts/main

block varibles
    -var pageTitle = 'Index'
    -var cssPath = '../../static/scss/main.scss'

block content
    ul
        li
            a(href="./colors-type.pug") Colors and type
        li
            a(href="./cards.pug") Cards
    
    

block scripts
    script(src="../../static/js/main.js")