extends ../layouts/main

block varibles
    -var pageTitle = 'Index'
    -var cssPath = '../../static/scss/main.scss'

block content
    +header()
    .wrap
        .row
            .col
                h1.heading-q FSD second task
                h2.heading-q UI Kit
                ul
                    li
                        h3.heading-mdark
                            a(href="./colors-type.pug") Colors and type
                    li
                        h3.heading-mdark
                            a(href="./cards.pug") Cards
                    li
                        h3.heading-mdark
                            a(href="./test.pug") Test
    
    

block scripts
    script(src="../../static/js/main.js")