extends ../layouts/main

block varibles
    -var pageTitle = 'Landing'
    -var cssPath = '../../static/scss/main.scss'
    -var headerItems = {"О нас": "/", "Услуги": {"Submenu1": "#", "Super-Submenu2": "#", "Submenu3": "#",}, "Вакансии": "#", "Новости": "#", "Соглашения": {"Submenu1": "#", "Super-Submenu2": "#", "Submenu3": "#",}}
    -var firstFooterItems = {"О нас": "#", "Новости": "#", "Служба поддержки": "#", "Услуги": "#", }
    -var secondFooterItems = {"О сервисе": "#", "Наша команда": "#", "Вакансии": "#", "Инвесторы": "#", }
    -var thirdFooterItems = {"Соглашения": "#", "Сообщества": "#", "Связь с нами": "#"}
    -var aboutFooter = "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»"
    -var copyrightFooter = "Copyright © 2018 Toxin отель. Все права зачищены."
    -var subscribeTextFooter = "Получайте специальные предложения и новости сервиса"

block content
    .all-site-wrap
        +header({"mode": "site", "items": headerItems, "activeItem": "Home", "registered": false, "buttonLogin": "Войти", "buttonRegister": "Зарегистрироваться", "buttonLoginDataAction": "login", "buttonRegisterDataAction": "register"})
        main.main.main--landing
            +card({"mode": "selection", "head": "Найдём номера под ваши пожелания", "rangeAddClass": "landing", "guestsId": "landing", })
            .main__card-center
                +card({"mode": "login", "id": "card--login-catch", "deactive": true, "head": "Войти", "emailAddClass": "text-field__input--email-login"})
                +card({"mode": "registration", "id": "card--registration-catch","deactive": true,"head": "Регистрация аккаунта", "emailAddClass": "text-field__input--email-registration", "maskAddClass": "text-field__input--dob-registration"})
            .main__landing-footer
                p.paragraph Лучшие номера для вашей работы, отдыха и просто вдохновения
        +footer({"mode": "complex", "subscriptionClass": "text-field__subscription--catch", "about": aboutFooter, "firstHead": "навигация",  "firstItems": firstFooterItems, "secondHead": "о нас", "secondItems": secondFooterItems, "thirdHead":  "Служба поддержки", "thirdItems": thirdFooterItems, "copyright": copyrightFooter, "subscribeHead": "Подписка","subscribeText": subscribeTextFooter})



block scripts
    script(src="../../static/js/main.js")
    script(src="../../static/js/landing.js")