mixin bullet(options)
    section.bullet
        if options.heading
            h3.heading-mb100= options.heading
        ul.bullet__list
            each item in options.items
                li.bullet__item= item