.header {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    padding: 15px 8.75rem;
    background-color: $white;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    @include breakpoint-dfirst (desktop) {
        padding: 15px $general-indent - 6;
        position: relative;
    }
    @include breakpoint-dfirst (phone) {
        padding: 15px $general-indent - 8;
    }
}

.header__logo-link {
    display: inline-flex;
    align-items: center;
    // z-index: 100;
}

.header__logo {
    margin: 30px 0 0 30px;
    width: 48px;
    height: 48px;
    display: inline-block;
    background: url(../../icons/logo.svg) 50% no-repeat;
    
}

.header__menu {
    display: flex;
    align-items: center;
    position: relative;
}

.header__menu--active {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
}

.header__login {
    @include breakpoint-dfirst (lg-tablet) {
        display: none;
        bottom: $general-indent - 3;
    }

    @include breakpoint-dfirst (tablet) {
        bottom: $general-indent - 6;
    }
    @include breakpoint-dfirst (phone) {
        bottom: $general-indent - 8;
    }
}

.header__login--active {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.header__login > .button:not(:last-child) {
    margin-right: 20px;
}

.header__person {
    padding-left: 30px;
    border-left: 1px solid $dark-shade-1;
    font-family: $montserrat;
    font-weight: 400;
    color: $dark-shade-50;
}

//burger
.burger {
    display: none;
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 100;
    cursor: pointer;
    
    @include breakpoint-dfirst (lg-tablet) {
        display: inline-block;
        right: $general-indent - 6;
    }
    @include breakpoint-dfirst (phone) {
        right: $general-indent - 8;
    }
}

.burger--disclosed {
    position: fixed;
}

.burger__layers {
    $layer-height: 3px;
    position: absolute;
    width: 40px;
    height: $layer-height;
    top: 13.33px - $layer-height;
    background-color: $dark-shade-75;
    border-radius: 3px;
    transition-timing-function: ease;
    transition-duration: 0.15s;
    transition-property: transform;

    &:before {
        @extend .burger__layers;
        content: "";
        top: 8.89px;
    }

    &::after {
        @extend .burger__layers;
        content: "";
        top: 17.78px;
    }
}

.burger__layers--disclosed {
    transform: translate(0, 10px) rotate(45deg);

    &::before {
        opacity: 0;
    }

    &::after {
        transform: translate(0, -18px) rotate(-90deg);
    }
}