include header/header
include card/card
include text-field/text-field
include dropdown/dropdown
include calendar/calendar
include switches/switches
include features/features
include like/like
include rate/rate
include review/review
include range-slider/range-slider
include buttons/buttons
include pagination/pagination
include bullet/bullet
include number/number
include menu/menu
include footer/footer
include impressions/impressions
include footnotes/footnotes
include room-photos/room-photos
//- include pagination-template/pagination-template
