.footer {
    background-color: $white;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-top: 1px solid $dark-shade-25;
}

.footer__main {
    padding: 100px $general-indent;
    display: flex;
    justify-content: space-between;
    &--simple {
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
    @include breakpoint-dfirst (desktop) {
        flex-wrap: wrap;
        padding: 50px $general-indent - 6;
    }
    @include breakpoint-dfirst (phone) {
        flex-wrap: wrap;
        padding: 50px $general-indent - 8;
    }
}

.footer__complex-block {
    max-width: 260px;
    @include breakpoint-dfirst (lg-tablet) {
        max-width: none;
        width: 100%;
        margin-bottom: 15px;
    }
}

.footer__simple-block {
    text-align: center;
    max-width: 560px;
}

.footer__simple-block:not(:last-child) {
    margin-bottom: 20px;
}

.footer__logo-link {
    display: flex;
}

.footer__logo-img {
    // margin-top: -4px;
}

.footer__text {
    margin: 20px 0;
}

.footer__form-subscription {
    @include breakpoint-dfirst (lg-tablet) {
        max-width: 320px;
    }
}

.footer__copyright {
    border-top: 1px solid $dark-shade-1;
    padding: 23px $general-indent;
    display: flex;
    justify-content: space-between;
    @include breakpoint-dfirst (desktop) {
        padding: 23px $general-indent - 6;
    }

    @include breakpoint-dfirst (tablet) {
        padding: 50px $general-indent - 6;
    }

    @include breakpoint-dfirst (phone) {
        padding: 50px $general-indent - 8;
        text-align: center;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}