mixin impressions(options)
    .impressions-schedule
        canvas(id= options.id width="120" height="120")
        .impressions-schedule__text
            span.impressions-schedule__vote= options.vote
            span  голосов