.text-field__input {
    width: 100%;
    max-width: 320px;
    padding: 11px 15px;
    border: 1px solid $dark-shade-25;
    border-radius: 4px;
    font-size: 0.87rem;
    box-shadow: 0px 10px 20px $dark-shade-5;
    &::placeholder {
        color: $dark-shade-25;
    }
    &:focus {
        outline: none;
        border: 1px solid $dark-shade-50;
        &::placeholder {
            color: $dark-shade-75;
        }
    }

    &--focus {
        border: 1px solid $dark-shade-50;
        &::placeholder {
            color: $dark-shade-75;
        }
    }

    &--masked {
        &:focus {
            border: 1px solid $dark-shade-25;
            &::placeholder {
                color: $dark-shade-25;
            }
        }
    }
    &--signed {
        max-width: 267px;
        background: url(./../../icons/arrow-forward.svg) no-repeat 95%;
    }
}
