mixin text-field(options)
    -var addedClass = options.addClass ? options.addClass : ""
    div(class="text-field text-field--" + options.mode)
            if options.head && options.head2 
                hgroup.flex-sb
                    h3.heading-mb100= options.head
                    h3.heading-mn50= options.head2
            else if options.head
                h3.heading-mb100= options.head 
            if options.mode == "email"
                input(type="text" placeholder="Email" class="text-field__input paragraph " + addedClass)
            else if options.mode == "pass"
                input(type="password" placeholder="Пароль" class="text-field__input paragraph " + addedClass)
            else if options.mode == "text"
                input(type="text" placeholder= options.placeholder class="text-field__input paragraph " + addedClass)
            else if options.mode == "mask"
                input(type="text" placeholder= options.mask class="text-field__input text-field__input--masked paragraph " + addedClass)
            else if options.mode == "subscription"
                input(type="text" placeholder="Email" class="text-field__subscription paragraph " + addedClass)
                button(type="submit" class="text-field__submit")
    