.footnotes {
    font-family: $montserrat;
    font-size: 0.87rem;
    text-transform: capitalize;
    color: $dark-shade-75;
    list-style-type: none;
    margin: 30px 0 0 30px;
    @include breakpoint-dfirst(phone) {
        margin-left: 20px;
    }
}

.footnotes__item {
    // padding-left: 15px;
    margin-bottom: 4px;
    &::before {
        content: "";
        width: 10px;
        height: 10px;
        display: inline-block;
        border-radius: 50%;
        margin-right: 5px;
    }
}

.footnotes__item--orange {
    &::before {        
        background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);       
    }
}

.footnotes__item--green {
    &::before {        
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);       
    }
}

.footnotes__item--violet {
    &::before {        
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);      
    }
}

.footnotes__item--black {
    &::before {        
        background: linear-gradient(180deg, #919191 0%, #3D4975 100%);     
    }
}